<h1>Заголовок для Angular: {{title}}</h1>
<div>
    <p>{{user.name}}</p>
    <p>{{user.surname}}</p>
</div>
<!--=====================================================================-->
<a href="#" title="{{tooltip}}">Сссыль для примера (теста подсказки)</a>
<!-- Обычно так не пишут -->
<a href="#" [title]="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Так обычно делают-->
<a href="#" bind-title="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Для одностороннего связывания, но обычно так не делают-->
<!--=====================================================================-->
<p class="red">Красный цвет class</p>
<p style="color: red;">Красный цвет style</p>
<!--=====================================================================-->
<p [class]="cssClass">Красный цвет class</p>
<p [style]="inlineStyleGreen">Красный цвет style</p>
<!--=====================================================================-->
<p [style.width]="'50%'">lorem100*: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore possimus molestiae praesentium. Consequuntur natus commodi eius fuga, sunt neque quae dolor ipsum quod numquam iste expedita quos vero quis delectus dolores omnis maiores, minima amet deleniti mollitia veritatis nesciunt nihil nam. Consequuntur ea illum assumenda? Mollitia, molestias. Porro ipsam quisquam adipisci est! Quo totam, repudiandae, eos incidunt accusamus voluptatibus repellat eaque beatae ipsam magni quos quas similique illum repellendus mollitia animi placeat reprehenderit. Eveniet, voluptatum quisquam porro impedit beatae illum error tempora dolorem rerum molestiae fugit praesentium laboriosam necessitatibus at ratione ipsam doloremque? Incidunt necessitatibus dolorem ullam! Placeat, earum praesentium.</p>
<!-- Такой своеобразный синтаксис -->
<!--=====================================================================-->
<p [style.width.%]="50">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, minima ad nihil incidunt voluptate doloribus eos nemo molestiae? Optio, deserunt.</p>
<!-- Такой своеобразный синтаксис -->
