<h1>Заголовок для Angular: {{title}}</h1>
<div>
    <p>{{user.name}}</p>
    <p>{{user.surname}}</p>
</div>
<!--=====================================================================-->
<a href="#" title="{{tooltip}}">Сссыль для примера (теста подсказки)</a>
<!-- Обычно так не пишут -->
<a href="#" [title]="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Так обычно делают-->
<a href="#" bind-title="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Для одностороннего связывания, но обычно так не делают-->
<!--=====================================================================-->
<p class="red">Красный цвет class</p>
<p style="color: red;">Красный цвет style</p>
<!--=====================================================================-->
<p [class]="cssClass">Красный цвет class</p>
<p [style]="inlineStyleGreen">Красный цвет style</p>
<!--=====================================================================-->
<p [style.width]="'50%'">Lorem50%: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore possimus molestiae praesentium. Consequuntur natus commodi eius fuga, sunt neque quae dolor ipsum quod numquam iste expedita quos vero quis delectus dolores omnis maiores, minima amet deleniti mollitia veritatis nesciunt nihil nam. Consequuntur ea illum assumenda? Mollitia, molestias. Porro ipsam quisquam adipisci est! Quo totam, repudiandae, eos incidunt accusamus voluptatibus repellat eaque beatae ipsam magni quos quas similique illum repellendus mollitia animi placeat reprehenderit. Eveniet, voluptatum quisquam porro impedit beatae illum error tempora dolorem rerum molestiae fugit praesentium laboriosam necessitatibus at ratione ipsam doloremque? Incidunt necessitatibus dolorem ullam! Placeat, earum praesentium.</p>
<!-- Такой своеобразный синтаксис -->
<!--=====================================================================-->
<p [style.width.%]="50">Lorem50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, minima ad nihil incidunt voluptate doloribus eos nemo molestiae? Optio, deserunt.</p>
<!-- Такой своеобразный синтаксис -->
<!--=====================================================================-->
<!--pipes-->
<h1>lowercase pipe: {{title + 'lowercase для Angular: ' | lowercase}}</h1>
<h1>uppercase pipe: {{title + 'uppercase для Angular: ' | uppercase}}</h1>
<h1>titlecase pipe: {{title | titlecase}}</h1>
<!--=====================================================================-->
<p>json pipe (object): {{user | json}}</p>
<p>slice without param pipe (object): {{"12345" | slice : 2}}</p>
<p>slice with param pipe (object): {{"12345" | slice : 2 : 4}}</p>
<!--=====================================================================-->
<p>Date pipe: {{someDate | date}}</p>
<!--надо чекать на других сайтах какие есть варианты вывода-->
<p>Date pipe: {{someDate | date : 'YYYY-MM-DDThh:mm:ssTZD'}}</p>
<!-- комбинация pipes -->
<p>Date pipe: {{someDate | date : 'YYYY-MM-DDThh:mm:ssTZD' | slice : 0 : 7}}</p>
<!--=====================================================================-->
<!-- кастомный pipe -->
<p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate eum, dignissimos magni voluptates saepe beatae recusandae culpa facere quasi dolore laboriosam modi consequatur, nihil ipsum molestias eius ad ut nobis ea velit consectetur, ducimus tempora ratione. Nulla perferendis sapiente placeat facilis. Vero vel molestias molestiae sapiente aut dignissimos consequuntur, corrupti rem voluptas, doloremque incidunt veritatis. Molestias enim libero dolores sequi unde earum. Vero repudiandae mollitia enim explicabo consequuntur, cupiditate eius sint ipsam natus laborum esse totam eaque repellat itaque ut error. Numquam soluta doloremque, possimus blanditiis fuga sapiente impedit molestias nulla quod nostrum. Doloremque obcaecati debitis quidem quibusdam nulla commodi error. Impedit possimus nihil id consequatur laboriosam blanditiis, animi placeat ipsum nesciunt tempora sunt modi. Placeat, blanditiis! Id, repellat.' | pipesExample }}</p>
<!--=====================================================================-->
<!-- еще один кастомный pipe pure/impure-->
<p>{{ageOfUsers | sortData: 'age' | json}}</p>
<!--=====================================================================-->
<!-- так обычно не делают, обычно логика гораздо сложнее -->
<!-- <button [style.color]="color"(click)="color='yellow'">Кнопка</button>
<p [style.color]="color"(click)="color='yellow'">Параграф и кнопка</p> -->
<button [style.color]="color"(click)="changeColor('yellow')">Кнопка</button>
<p [style.color]="color"(click)="changeColor('yellow')">Параграф и кнопка</p>
<!-- "color"(click)="changeColor('yellow')" можно заменить на "color" on-click="changeColor('yellow')"//
  так же можно указывать this контекст (click)="this.color = 'yellow'" -->
<input type="text" (input)="checkCurrentValue($event)"
(keydown.shift)="this.color = 'pink'"
(keydown.shift.control.enter)="this.color = 'green'"/>
<!--=====================================================================-->
<!-- <app-child [childColor]="color"
name="name"
(nameChange)="setNewName($event)"></app-child> -->
<!-- одностороннее связывание-->
<!--=====================================================================-->
<!-- двустороннее связывание относится в h2 child-comonent-->
<!-- <app-child [childColor]="color"
[(name)]="parentName"
(nameChange)="setNewName($event)"></app-child>
<p>Parent's name component {{parentName}}</p>
<button (click)="setNewName('name changed with parent')">Parent Button</button> -->
<!--=====================================================================-->
<!-- относится после child button -->
<!-- <app-child>
  <h1>Example with ng-content</h1>
  <p style="background-color: chartreuse;">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div style="background-color: rgb(255, 208, 0);" someAttribute>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
  <article class="some-css-class" style="background-color: rgb(3, 161, 240);">Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
</app-child> -->
<!-- относится к ng-content-example -->
<!-- <app-child>
  <app-ng-content-example></app-ng-content-example>
  <app-ng-content-example></app-ng-content-example>
  <app-ng-content-example></app-ng-content-example>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat quas, facere illo voluptate sapiente suscipit praesentium aliquam necessitatibus pariatur iste in facilis, id mollitia qui asperiores deserunt eos labore reprehenderit.
</app-child> -->
<!-- относится к ng-template урока -->
<!-- <p>Первый параграф!</p>
<ng-container *ngTemplateOutlet="test; context: {first: 'hello' ,$implicit: 'World', someText: '!!!'}">
  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, temporibus!</span>
</ng-container>
<p>Третий параграф!</p>
<ng-template #test let-item let-drink let-firstItem="first" let-someTextItem="someText">
  <p>Второй параграф!</p>
  <p>{{firstItem}}</p>
  <p>{{item}}</p>
  <p>{{drink}}</p>
  <p>{{someTextItem}}</p>
</ng-template> -->
<!-- относится к уроку по директива *ngFor, *ngIf, *ngSwitchCase -->
<!-- <p *ngIf="toggler; then test else second">Toggler text</p>
<button (click)="toggler = !toggler">Button toggler</button>
<ng-template #test>
  <p>Text from ng-template's element</p>
</ng-template>
<ng-template #second>
  <p>Second text from ng-template's element</p>
</ng-template>
<hr>
<div *ngFor="let item of arr; let evenItem = even; let currentIndex = index">
  <span *ngIf="evenItem">{{item}}</span>
  <span style="color: crimson;">{{currentIndex}}</span>
</div>
<hr>
<div *ngFor="let item of arr;" [ngSwitch] = 'item'>
  <i *ngSwitchCase="123">{{item}}</i>
  <b *ngSwitchCase="true">{{item}}</b>
  <span *ngSwitchDefault>{{item}}</span>
</div> -->
<!-- относится к уроку по особенностям директив *ngFor, *ngIf, *ngSwitchCase -->
<button (click)="toggler = !toggler">Button toggler specific</button>
<p *ngIf="toggler">Specific directives</p>

<ng-template [ngIf]='toggler' [ngIfThen]="second" [ngIfElse]="test">
  <p>Specific directives paragraph</p>
</ng-template>

<ng-template #test>
  <p>Specific text "test" from ng-tempalte</p>
</ng-template>

<ng-template #second>
  <p>Specific text 'second' from ng-tempalte</p>
</ng-template>
<!-- второй вариант создания (нагроможденный и не используется особо) -->
<hr>
<hr>
<hr>
<div *ngFor="let item of arr; let evenItem = even; let currentIndex = index">
  <span *ngIf="evenItem">{{item}}</span>
  <span style="color: crimson;">{{currentIndex}}</span>
</div>
<hr>

<ng-template ngFor let-item [ngForOf]="arr" let-evenItem="even" let-currentIndex="index">
  <div>
    <span *ngIf="evenItem">{{item}}</span>
    <span style="color: crimson;">{{currentIndex}}</span>
  </div>
</ng-template>
<!-- еще пример про две директивы будет ошибка-->
<!-- <div *ngFor="let item of arr" *ngIf="true">
  <span>{{item}}</span>
</div> -->
<!-- чтобы обойти ограничение двух директив -->
<ng-template *ngIf="true">
  <div *ngFor="let item of arr">
    <span>{{item}}</span>
  </div>
</ng-template>

<!-- привер с логическим оператором  -->
<p *ngIf="toggler ? true : false">Some text One</p>
<p *ngIf="toggler && true">Some text Two</p>
<p *ngIf="toggler || false">Some text Three</p>

<!-- пример с опциональной цепочкой -->
<p *ngIf="arr?.[10]">Element exist in array: {{arr[0]}}</p>
<p *ngIf="arr?.[0]">Element exist in array: {{arr[0]}}</p>
<p *ngIf="arr?.[2]">Element exist in array: {{arr[0]}}</p>

<!-- ключевое слово as -->
<ng-container *ngIf="obj.first.second.third">
  <p>Name: {{obj.first.second.third.name}}</p>
  <p>Age: {{obj.first.second.third.age}}</p>
</ng-container>
<!-- лучший способ записи примера выше - через as -->
<ng-container *ngIf="obj.first.second.third as info">
  <p>Name: {{info.name}}</p>
  <p>Age: {{info.age}}</p>
</ng-container>

<!-- в доки сказано что если огромное количество то лучше использовать trackby, в противном случае будет ререндер всего -->
<div *ngFor="let item of arr; even as evenItem; index as currentIndex">
  <span *ngIf="evenItem">{{item}}</span>
  <span style="color: crimson;">{{currentIndex}}</span>
</div>
<!-- c использованием trackBy -->
<div *ngFor="let item of arr; even as evenItem; trackBy: someTrackByMethod">
  <span *ngIf="evenItem">{{item}}</span>
</div>
<!-- использование директив с пайпом -->
<div *ngFor="let item of arr |slice: 1 : 4">
  <span>{{item}}</span>
</div>

<!-- из урока ngClass и ngStyle -->
<!-- ngClass -->
<p [ngClass]="'aqua'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate minus quod, perferendis maxime explicabo?</p>
<p ngClass="aqua red green">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate minus quod, perferendis maxime explicabo?</p>
<p ngClass="{{colorClass}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate minus quod, perferendis maxime explicabo?</p> <!--более распространено через поле компонента класса, т.к. ей проще управлять-->
<p ngClass="{'green':true, colorClass: false}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptate minus quod, perferendis maxime explicabo?</p>
<!-- ngStyle -->
<p style="background-color: darkblue">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>
<p [style]="'background-color: darkblue'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>

<!-- <p ngStyle="background-color: darkblue">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p> -->
<p [ngStyle]="{color: colorClass}">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>
<p [ngStyle]="colorClassObj">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>
<p [style]="colorClassObj">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>
<p [ngStyle]="{'font-size.px': 20}">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, ipsa.
</p>
<hr>
<!-- новый синтаксис директив angular17 -->
<div *ngFor="let item of arr">
  <span>{{item}}</span>
</div>

<button (click)="toggler = !toggler">Button toggler Angular 17</button>
<p *ngIf="toggler">New syntax Angular 17 directives</p>
@if(toggler){
  <p *ngIf="toggler" class="aqua">
    Just text text with mixing syntax ditictives
  </p>
}@else if (true) {
  <p class="pink">Text from 'else-if'</p>
}@else {
  <p class="blue">Text from 'else'</p>
}
<hr>
@for (item of arr; track $index) {
  <div class="aqua">
    <span>{{item}}</span>
  </div>
}
<hr>
@for (item of arr; track item; let i = $index) {
  <div class="aqua">
    <span>{{item}}</span>
  </div>
}
<hr>
@for (item of arr; track item;) {
  <div class="aqua">
    <span>{{item}}</span>
  </div>
}
<!-- объявление переменных отлич задает контекст, наприме во вложенном цикле -->
@for (item of arr; track item; let parentIndex = $index) {
  @for (item of arr; track item; let childIndex = $index) {
  <div class="aqua">
    <span>{{childIndex}}</span>
  </div>
  }
}
<!-- директива @empty -->
<hr>
@for (item of []; track item;) {
  <div class="aqua">
    <span>{{item}}</span>
  </div>
}@empty {
  <p class="red">Empty array</p>
}
<hr>
<!-- использование switch -->
@for (item of arr; track $index){
  <div class="pink">
    @switch (item) {
      @case (123) {
        <i>{{item}}</i>
      }
      @case (true) {
        <b *ngSwitch="true">{{item}}</b>
      }
      @default {
        {{item}}
      }
    }

<!-- <div [ngSwitch]="item" class="pink">
    <i *ngSwitch="123">{{item}}</i>
    <b *ngSwitch="true">{{item}}</b>
    <span *ngSwitchDefault>{{item}}</span>
</div> -->
  </div>
}
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<!-- из урока жизненый цикл -->
@if (toggler) {
  <app-child [title]="titleCicle" [name]="nameCicle" [obj]="objectCicle"></app-child>
}
<button (click)="toggler = !toggler">Toggle for ngDestroy</button>
<!-- далее идет урок по ViewChild и ViewChildren -->
<hr>
<p #paragraph>View paragraph</p>
<ng-template #template>
  <p>Content inside ng-template</p>
</ng-template>
<ng-container *ngTemplateOutlet="template"></ng-container>
<!-- <app-child #component>Lorem ipsum dolor sit amet consectetur.</app-child> -->
<app-child>Lorem ipsum dolor sit amet consectetur.</app-child>
<!-- с ViewChildren -->
<hr>
<p #paragraphChildren>ViewChildren paragraph</p>
<ng-template #templateChildren>
  <p>Content inside ng-template</p>
</ng-template>
<ng-container *ngTemplateOutlet="templateChildren"></ng-container>
<app-child>Lorem ipsum dolor sit amet consectetur.</app-child>
