<h1>Заголовок для Angular: {{title}}</h1>
<div>
    <p>{{user.name}}</p>
    <p>{{user.surname}}</p>
</div>
<!--=====================================================================-->
<a href="#" title="{{tooltip}}">Сссыль для примера (теста подсказки)</a>
<!-- Обычно так не пишут -->
<a href="#" [title]="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Так обычно делают-->
<a href="#" bind-title="tooltip">Сссыль для примера (теста подсказки)</a>
<!--Для одностороннего связывания, но обычно так не делают-->
<!--=====================================================================-->
<p class="red">Красный цвет class</p>
<p style="color: red;">Красный цвет style</p>
<!--=====================================================================-->
<p [class]="cssClass">Красный цвет class</p>
<p [style]="inlineStyleGreen">Красный цвет style</p>
<!--=====================================================================-->
<p [style.width]="'50%'">Lorem50%: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore possimus molestiae praesentium. Consequuntur natus commodi eius fuga, sunt neque quae dolor ipsum quod numquam iste expedita quos vero quis delectus dolores omnis maiores, minima amet deleniti mollitia veritatis nesciunt nihil nam. Consequuntur ea illum assumenda? Mollitia, molestias. Porro ipsam quisquam adipisci est! Quo totam, repudiandae, eos incidunt accusamus voluptatibus repellat eaque beatae ipsam magni quos quas similique illum repellendus mollitia animi placeat reprehenderit. Eveniet, voluptatum quisquam porro impedit beatae illum error tempora dolorem rerum molestiae fugit praesentium laboriosam necessitatibus at ratione ipsam doloremque? Incidunt necessitatibus dolorem ullam! Placeat, earum praesentium.</p>
<!-- Такой своеобразный синтаксис -->
<!--=====================================================================-->
<p [style.width.%]="50">Lorem50 Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, minima ad nihil incidunt voluptate doloribus eos nemo molestiae? Optio, deserunt.</p>
<!-- Такой своеобразный синтаксис -->
<!--=====================================================================-->
<!--pipes-->
<h1>lowercase pipe: {{title + 'lowercase для Angular: ' | lowercase}}</h1>
<h1>uppercase pipe: {{title + 'uppercase для Angular: ' | uppercase}}</h1>
<h1>titlecase pipe: {{title | titlecase}}</h1>
<!--=====================================================================-->
<p>json pipe (object): {{user | json}}</p>
<p>slice without param pipe (object): {{"12345" | slice : 2}}</p>
<p>slice with param pipe (object): {{"12345" | slice : 2 : 4}}</p>
<!--=====================================================================-->
<p>Date pipe: {{someDate | date}}</p>
<!--надо чекать на других сайтах какие есть варианты вывода-->
<p>Date pipe: {{someDate | date : 'YYYY-MM-DDThh:mm:ssTZD'}}</p>
<!-- комбинация pipes -->
<p>Date pipe: {{someDate | date : 'YYYY-MM-DDThh:mm:ssTZD' | slice : 0 : 7}}</p>
<!--=====================================================================-->
<!-- кастомный pipe -->
<p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat cupiditate eum, dignissimos magni voluptates saepe beatae recusandae culpa facere quasi dolore laboriosam modi consequatur, nihil ipsum molestias eius ad ut nobis ea velit consectetur, ducimus tempora ratione. Nulla perferendis sapiente placeat facilis. Vero vel molestias molestiae sapiente aut dignissimos consequuntur, corrupti rem voluptas, doloremque incidunt veritatis. Molestias enim libero dolores sequi unde earum. Vero repudiandae mollitia enim explicabo consequuntur, cupiditate eius sint ipsam natus laborum esse totam eaque repellat itaque ut error. Numquam soluta doloremque, possimus blanditiis fuga sapiente impedit molestias nulla quod nostrum. Doloremque obcaecati debitis quidem quibusdam nulla commodi error. Impedit possimus nihil id consequatur laboriosam blanditiis, animi placeat ipsum nesciunt tempora sunt modi. Placeat, blanditiis! Id, repellat.' | pipesExample }}</p>
<!--=====================================================================-->
<!-- еще один кастомный pipe pure/impure-->
<p>{{ageOfUsers | sortData: 'age' | json}}</p>
<!--=====================================================================-->
<!-- так обычно не делают, обычно логика гораздо сложнее -->
<!-- <button [style.color]="color"(click)="color='yellow'">Кнопка</button>
<p [style.color]="color"(click)="color='yellow'">Параграф и кнопка</p> -->
<button [style.color]="color"(click)="changeColor('yellow')">Кнопка</button>
<p [style.color]="color"(click)="changeColor('yellow')">Параграф и кнопка</p>
<!-- "color"(click)="changeColor('yellow')" можно заменить на "color" on-click="changeColor('yellow')"//
  так же можно указывать this контекст (click)="this.color = 'yellow'" -->
<input type="text" (input)="checkCurrentValue($event)"
(keydown.shift)="this.color = 'pink'"
(keydown.shift.control.enter)="this.color = 'green'"/>
